body{
    background-color: rgb(238, 236, 236);
    width: 80%;  
}
.title{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    padding: 10px 10px 10px 400px;
    background-color:rgb(227, 239, 249) ;
    width: 70%;
    margin: 10px;
    font-style: italic; 
}
section{
    background-color: #e6dfdf;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 10px;
}

 .img{
    background-color: white;
    border: 1px solid rgb(159, 157, 157) ;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 550px;    
    margin: 30px ;
    
    
}
img{
    width: 550px;
    
    
}
#head{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
p{
    padding: 10px;
}

    

